html, body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr 200px;
  }

  #score-container {
    font-size: 24px;
    background-color: #FFAC6B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .button {
    font-size: 20px;
    color: white;
    background-color: rgb(255, 119, 46);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 300px;
    height: 40px;
  }

  #kinect-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }

  #instructions {
    /* display: flex; */
    font-family: Arial, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 200px 50px 200px 50px;
  }

  #game {
    /* display: flex; */
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }

  #box {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: green;
  }

  .hands {
    height: 100px;
    background-color: #b8937a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 25px 50px 25px 50px;
  }

  .circle {
    height: 50px;
    width: 50px;
    color: white;
    background-color: #fcc006;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #ca0147;
    margin: 2rem;
    margin-right: 35px;
  }

  .up-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ca0147;
    margin: 2rem;
    margin-bottom: 35px;
  }

  .right-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ca0147;
    margin: 2rem;
    margin-left: 35px;
  }

  .down-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ca0147;
    margin: 2rem;
    margin-top: 35px;
  }

  .active-left {
    border-right: 15px solid #c1f80a;
  }

  .active-up {
    border-bottom: 15px solid #c1f80a;
  }

  .active-right {
    border-left: 15px solid #c1f80a;
  }

  .active-down {
    border-top: 15px solid #c1f80a;
  }

  h1 {
    color: white;
    font-family: Arial, sans-serif;
  }
