html, body {
    margin: 0;
    padding: 0;
  }

  .container {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr 200px;
  }

  #score-container {
    font-size: 24px;
    background-color: #FFAC6B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .button {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(255, 119, 46);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 300px;
    height: 40px;
  }

  #kinect-window {
    display: grid;
    left: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }

  #instructions {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 200px 50px 200px 50px;
  }

  #success {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 200px 50px 200px 50px;
  }

  #failure {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
    padding: 200px 50px 200px 50px;
  }

  #level1 {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }
  #level2 {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }
  #level3 {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #fe7da2;
    grid-column: 1/1;
    grid-row: 2/3;
  }

  #timer {
    top: 0%;
    display: grid;
    position: absolute;
    height: 60px;
    width: 100px;
    color: white;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(255, 119, 46);
  }

  .box {
    top: 50%;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fe7da2;
    color: white;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

  h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
